<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        
        {% endblock %}
    </title>
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand class1" href="{% url 'inicio' %}">Inicio</a>
                {% if not user.is_authenticated %}
                    <a class="navbar-brand class1" href="{% url 'registrarse' %}">Registrarse</a>
                    <a class="navbar-brand class1" href="{% url 'iniciar_sesion' %}">Iniciar Sesión</a>
                {% endif %}
                <a class="navbar-brand class1" href="{% url 'lista_usuarios' %}">Lista de Usuarios</a>
                <a class="navbar-brand class1" href="{% url 'lista_completa' %}">Lista de Productos</a>
                <a class="navbar-brand class1" href="{% url 'acerca_pagina' %}">Acerca de la Página</a>
                {% if user.is_authenticated %}
                    <a class="navbar-brand class1" href="{% url 'perfil' request.user.id %}">Mi Perfil</a>
                    <a class="navbar-brand class1" href="{% url 'ingresar_producto' request.user.username %}">Ingresar Producto</a>
                    <a class="navbar-brand class1" href="{% url 'lista_productos' request.user.username %}">Mis Productos</a>
                    <form class="d-inline" action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Cerrar Sesión</button>
                    </form>
                {% endif %}
            </div>
        </nav>
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>
    
</body>
</html>